@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body {
  font-family: 'Lato', "Helvetica", Arial, Montserrat, Open Sans, sans-serif;
}

.b {
  font-weight: bold;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.video-container {
  position: relative;
}

.nav-tabs > li {
  float:none;
  display:inline-block;
  zoom:1;
}

.nav-tabs {
  text-align:center;
}

.hover-move-up:hover {
  position: relative; 
  top: -55px;
}

.shadow-effect {
  box-shadow: 10px 10px 50px grey;
}

.skew-photo{
  transform: skewX(30deg);
  transform: skewY(30deg);
  -webkit-transform: skewY(30deg);
  -moz-transform: skewY(30deg);
  background-color: #ccc;
}

.navbar-trans {
  background: transparent; }

.top-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

a.navbar-brand, a.logo {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff !important;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0; }

a.logo:hover, a.logo:active, a.logo:focus {
  text-decoration: none; }

li.nav-item .btn {
  margin-top: .2rem;
  margin-left: .4rem; }
li.nav-item .btn-white {
  color: #46484a; }

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.nomargin{
  margin: 0;
}

.mont-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.mont {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.mont-light {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
}

.mont-extra-light {
 font-family: Montserrat, sans-serif;
  font-weight: 100;
}

#video-landing {
  height: 800px;
  position: relative;
  overflow-y: hidden;
  color: white;
}

#video-landing video {
  position: absolute;
  min-height: 100%;`1
  min-width: 100%;

  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

#video-landing h1{
  font-size: 3em; 
}

.video-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

.dark-gradient {
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.darkest-gradient {
  background-color: #29539b;
  background-image: linear-gradient(315deg, #741b47ff 0%, #bf588bff 74%);
}

.blue-gradient {
  background-color: #3ea8f5;
  background-image: linear-gradient(315deg, #3ea8f5 0%, #05386b 98%);
}

.dark-gradient {
    background-color: #3ea8f5;
  background-image: linear-gradient(315deg, #575757 30%, #313131 80%);
}

.primary-gradient {
  background-color: #3ea8f5;
background-image: linear-gradient(315deg, #313131 30%, #0a1442 80%);
}

.green-gradient {
    background-color: #3ea8f5;
  background-image: linear-gradient(315deg,#000000 30%, #166D3B 80%);
}

.light-green-gradient {
    background-color: #3ea8f5;
  background-image: linear-gradient(305deg,#233329, #63D471);
}

.light-background {
  background-color: #f9f8f9;
}

.white-background {
  background-color: white;
}

.separator {
  width: 40%;
  border-width: 5px;
  border-color: white;
  margin-top: 2.5em;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-two {
  height: 500px;
  padding: 20px;
  color: white;
  font-size: 2em;
  background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS1h055m-v3rdWM5gEeief-XZ82I2pBa5eN1j7asLWxbREmK-VkldJenynluA') no-repeat center center;
  background-size: cover;
  
}

.smaller {
    width:80%; /* you can use % */
    height: auto;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


/* remove bootstrap gutter*/
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
  max-height: 350px;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  max-height: 350px;
}


/* the good stuff */
body {
}

.img-featured-container {
  overflow: hidden;
  position: relative;
  max-height: 300px;

}

.img-featured-container img {
  width: 100%;
  padding: 10px;
}

.img-featured-container .img-backdrop {
  background: linear-gradient(135deg, rgba(238, 166, 100, 0.85), rgba(229, 107, 53, 0.85));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
  max-height: 350px;
}

.img-featured-container:hover > .img-backdrop {
  opacity: 1;
}

/* center text horizontally and vertically on image hover */
.img-featured-container .description-container {
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  padding: 0 30px;
  text-align: center;
  line-height: 20px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  z-index: 2;
  opacity: 0;
  transition: all .2s ease;
  max-height: 350px;
}

.img-featured-container .description-container .fa-instagram {
  font-size: 40px;
}

.img-featured-container .description-container p {
  font-weight: 300;
  margin-bottom: 0;
}

.img-featured-container:hover .description-container {
  opacity: 1;
  max-height: 350px;
}

.img-featured-container .description-container .caption {
  display: none;
  margin-bottom: 10px;
}

.img-featured-container .description-container .likes,
.img-featured-container .description-container .comments {
  margin: 0 5px;
}

/* This is Jesus come to earth again */
.box
{
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/* load more button */
#btn-instafeed-load {
  color: #fff;
  background: #26a3ff;
  font-size: 16px;
  margin: 20px auto;
  padding: 8px 40px;
  display: block;
  border: none;
}


/* sliding css */

.headerslideup {
  opacity: 0;
  animation: fadein ease 2s forwards;
}

.headerslideright {
  opacity: 0;
  animation: slideinright ease 2s forwards;
}

.slideleft {
  opacity: 0;
  animation: slideinleft ease 3s forwards;
}

.slideright {  
  opacity: 0;
  animation: slideinright ease 3s forwards;
}

.slide-right-effect{
  opacity: 0;
}

.slide-left-effect{
    opacity: 0;
}

@keyframes slideinright {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slideinleft {
  0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slidein {
    from {
          opacity: 0 !important;
    left: 00%;
  }

  to {
    /* left: auto; */
    left: 100%;
    opacity: 1;
  }
}

/* end of sliding code */

/* media queries  */
@media screen and (min-width:768px) {
  .tofixthemediascreen{
    display: block;
  }
}

/* media queries  */
@media screen and (max-width:768px) {
  .tofixthemediascreen{
    display: block;
  }
}


/* fading effects */

/* html fade labels */
.fade {
  opacity: 0;
}

.fade-small {
  opacity: 0;
}

.small-fade {
  opacity: 0 !important;
}

.header-up {
  opacity: 0;
}

.fade1, .fade2, .fade3{
  opacity: 0;
}


/* javascript fade adding classes */

.fade-effect-large {
  opacity: 0 !important;
  animation: fadein ease 2s forwards;
}

.fade-effect-small {
  opacity: 0 !important;
  animation: fadein ease 2s forwards;
}

.fade-effect {
  animation: fadein ease 2s forwards;
}

.small-fade-effect {
  opacity: 0 !important;
  animation: fadeinsmall ease 2s forwards; 
}

.fadein-1, .fadein-2, .fadein-3 {
  animation: fadein ease 2s forwards; 
}

.fadein-1 {
    animation-delay: 0.2s;
}

.fadein-2 {
  animation-delay: 0.6s;
}

.fadein-3{
  animation-delay: 0.9s;
}

.no-m{
  margin: 0;
}

@media screen and (max-width:992px) {
  .optional-fade{
    opacity: 0;
  }
}

.vc {
  display: flex;
  justify-content: center
}


.resources-footer {
  text-align: center;
}


@media screen and (min-width:992px) {
  .resources-footer {
    text-align: left;
    padding-left: 80px;
  }
}


@keyframes fadein {
  0% {
    opacity: 0 !important;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/*
@keyframes slideinleft {
  0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
*/


@keyframes fadeinsmall {
  0% {
    opacity: 0 !important;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
  }
}


.
.leFadeInBottom span { animation-name: leFadeInBottom }
@keyframes leFadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

/* media queries  */
@media screen and (min-width:768px) {
  .img-featured-container .description-container .caption {
    display: block;
  }
}

.header-title
      {
        text-align: center;
        color:#00bfff;
      }

      #tip
      {
          display:none;
      }

      .fadeIn
      {
        animation-duration: 3s;
      }

      .form-control
      {
          border-radius:0px;
          border:1px solid #EDEDED;
      }

      .form-control:focus
      {
          border:1px solid #00bfff;
      }

      .textarea-contact
      {
          resize:none;
      }

      .btn-send
      {
          border-radius: 0px;
          border:1px solid #00bfff;
          background:#00bfff;
          color:#fff;
      }

      .btn-send:hover
      {
          border:1px solid #00bfff;
          background:#fff;
          color:#00bfff;
          transition:background 0.5s;
      }

      .fa-times {
        color: #blue;
      }

      .second-portion
      {
          margin-top:50px;
      }

              @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
      @import "http://fonts.googleapis.com/css?family=Roboto:400,500";

      .box > .icon { text-align: center; position: relative; }
      .box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
      .box > .icon:hover > .image { background: #333; }
      .box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
      .box > .icon:hover > .image > i { color: white !important; }
      .box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
      .box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
      .box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
      .box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
      .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
      .box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
      .box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
      .box .space { height: 30px; }

      @media only screen and (max-width: 768px)
      {
          .contact-form
          {
              margin-top:25px;
          }

          .btn-send
          {
              width: 100%;
              padding:10px;
          }

          .second-portion
          {
              margin-top:25px;
          }
      }

      table,  td {
          border: 1px solid blue;
      }
